* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #0c111b;
  font-size: 10px;
  color: white;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*
 background: linear-gradient(to bottom, #141b29, #0c111b);
*/
